body {
  background-color: #e5e5e5;

  font-family: Roboto, sans-serif;
  letter-spacing: 0.02em;
}

.logo-header {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  text-transform: uppercase;
  color: #2e2f42;
  text-decoration: none;
}

.logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  line-height: 1.33;
  text-transform: uppercase;
  text-decoration: none;
}

.site-nav {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

.logo-footer {
  font-family: "Raleway";

  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;

  text-transform: uppercase;

  color: #f4f4fd;
}

.button {
  color: #000000;
  background-color: #fff;
}

.button-primary {
  background-color: #4d5ae5;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 32px;
  gap: 10px;
}

.hero-title {
  font-weight: 400;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
}

.feature-list .title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.feature-list .text {
  font-size: 16px;
  line-height: 1.5;
}

.footer {
  background-color: #2e2f42;
}

.footer-text {
  color: #e7e9fc;
}

.adress {
  color: #000000;
  text-decoration: none;
}
