body {
  background-color: #e5e5e5;

  font-family: Roboto, sans-serif;
  letter-spacing: 0.02em;
}

.logo-header {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  text-transform: uppercase;
  color: #2e2f42;
}

.logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  line-height: 1.33;
  text-transform: uppercase;
}

.site-nav {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

.logo-footer {
  font-family: "Raleway";

  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;

  text-transform: uppercase;

  color: #2e2f42;
}

.button {
  color: #000000;
  background-color: #fff;
}

.button-primary {
  background-color: #4d5ae5;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 32px;
  gap: 10px;
}
